<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/prettyPhoto.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
</head>
<body>
<!-- Navigation-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Raj Yogi</a>
        </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <a href="/" class="navbar-link">Home</a>
                <a href="/about-me" class="navbar-link">About</a>
                <a href="/services" class="navbar-link">Services</a>
                <a href="/projects" class="navbar-link">Portfolio</a>
                <a href="/contact-me" class="navbar-link">Contact</a>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>