<header class="text-center">
    <main class="container">
        <% include shared/header.ejs%>
        <section class="intro-text">
            <h1><%= name %></h1>
            <p><%= profession%></p>
        </section>
    </main>
</header>
<% include shared/footer.ejs%>