<!--Home Page for portfolio website. Built in Node.js
Made By: Rajvinder Singh Yogi
Student #: 200353207-->
<main class="text-center">
    <article class="container">
        <% include shared/header.ejs%>
        <section class="intro-text">
            <h1><%= name %></h1>
            <p><%= profession %></p>
            <a href="/about-me" class="btn btn-default btn-lg page-scroll"><%= button1 %></a>
            <a href="/contact-me" class="btn btn-default btn-lg page-scroll"><%= button2 %></a>
        </section>
    </article>
</main>
<% include shared/footer.ejs%>